
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background: linear-gradient(to right, #ffeaa7, #fab1a0, #a29bfe);
    padding: 20px;
    color: #2d3436;
}
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #ffffffaa;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: #0984e3;
}

}
.gallery img {
    width: 150px;
    margin: 10px;
}
